div.solid {
border-style: solid;
height: 620px;
width: 1200px;
padding-left: 60px;
padding-right: 60px;
}
#innerdiv{
  border-style: solid;
  height: 350px;
  width: 1050px; 
  padding-left: 100px;
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
}
#squarediv{
  justify-content: center;
  display: flex;
  border-style: solid;
  height: 200px;
  width: 250px;
  padding-top: 40px;
}
#rightdiv{
  
  height: 300px;
  width: 650px;
  padding-left: 20px;
}
#circlediv {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border-style: solid;
  justify-content: center;
  display: flex;
  align-items: center;
  
}
lable{
  display: inline-block;
  width: 150px;
  text-align: right;
}
#buttondiv{
  display: flex;
 justify-content: space-around;
 padding-left: 100px;
 padding-right: 400px;
}